BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false

# Pointers
PointerAlignment: Right

# Includes
SortIncludes: false

# Allow short constructs on one line
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
